<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52347626-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-52347626-4');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="{{ translate("application", "description") }}">
    <meta property="og:title" content="{{ translate("application", "title") }}"/>
    <meta property="og:description" content="{{ translate("application", "description") }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ''|resource }}"/>
    <meta property="og:image" content="{{ 'dist/assets/opengraph.jpg'|path }}"/>
    <title>{{ translate('application', 'title') }}</title>
    <link rel="stylesheet" href="{{ 'dist/index.css'|resource }}"/>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6332373031553935",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="{{ 'dist/index.js'|resource }}"></script>
</body>
</html>
