<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52347626-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-52347626-4');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="{{ translate("application", "description") }}">
    <meta property="og:title" content="{{ translate("application", "title") }}"/>
    <meta property="og:description" content="{{ translate("application", "description") }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ''|resource }}"/>
    <meta property="og:image" content="{{ 'resources/public/assets/opengraph.jpg'|path }}"/>
    <title>{{ translate('application', 'title') }}</title>
    <link rel="stylesheet" href="{{ 'bower_components/uikit/dist/css/uikit.min.css'|resource }}">
    <link rel="stylesheet" href="{{ 'resources/public/css/stylesheet.css'|resource }}">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6332373031553935",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
    <div class="uk-height-viewport uk-section-media" id="background" data-bind="visible: mainVisible">
        <div class="clock">
            <div id="clockBackground"></div>
            <div id="clockRadial"></div>
            <div id="clockBigHand"></div>
            <div id="clockLittleHand"></div>
        </div>
        <div class="uk-position-center uk-position-medium">
            <img src="{{ 'resources/public/assets/logo.svg'|resource }}">
            <nav class="nav-overlay uk-navbar-container uk-navbar-transparent uk-margin uk-position-relative" uk-navbar>
                <div class="uk-navbar-left uk-flex-1">
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1" data-bind="submit: fetchAccounts">
                            <input class="uk-search-input" type="search" data-bind="textInput: input" placeholder="Search..." autofocus>
                        </form>
                    </div>
                    <a class="uk-navbar-toggle" uk-icon="icon: search" data-bind="click: fetchAccounts" href="#"></a>
                </div>
            </nav>

            <div class="uk-visible@s">
                <div class="uk-child-width-expand@s uk-grid-small uk-grid-match" uk-grid>
                    <div>
                        <div class="uk-animation-fade uk-card uk-card-default uk-card-small uk-card-body">
                            <span class="uk-text-uppercase uk-text-primary">Top times for Destiny 2 on PS4</span>
                            <!-- ko foreach: leaderboard.currentList().players -->
                            <!-- ko if: $index() < 3 -->
                            <a href="#" data-bind="click: function() { $root.fetchAccount(membershipType, membershipId) }" class="uk-button uk-button-small uk-display-block uk-text-left">
                                <span data-bind="text: displayName"></span>
                                <small class="uk-float-right" data-bind="formatTime: timePlayed"></small>
                            </a>
                            <!-- /ko -->
                            <!-- /ko -->
                            <a href="#" class="uk-button uk-button-text" data-bind="click: showLeaderboard">See leaderboard</a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body">
                            <a href="{{ hdceAdLink }}">
                                <div>
                                    <span class="uk-text-uppercase uk-text-primary">Our Sponsor</span>
                                    <img class="uk-float-right" src="{{ 'resources/public/assets/hdce.png'|resource }}">
                                </div>
                                <p class="uk-margin-remove-bottom">{{ hdceAdText }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
            </div>

            <div class="uk-cover-container">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Wasted on Destiny -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6332373031553935"
                     data-ad-slot="7124654099"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div class="uk-container uk-container-large uk-margin-small-top uk-text-center">
                <span>Made with <i uk-icon="icon: heart"></i> by <a href="#" data-bind="click: function() { fetchAccount(-1, 664856) }">{{ config('application', 'author') }}</a></span>
                <span> | </span>
                <a href="#about-modal" uk-toggle>About</a>
            </div>
        </div>
    </div>
    <div class="uk-height-viewport uk-section-secondary uk-preserve-color" data-bind="visible: statsVisible" id="stats">
        <div class="sticky">
            <nav id="sticky-navbar" class="uk-navbar-container uk-navbar-inverse" uk-navbar style="position: relative; z-index: 980;">
                <div class="uk-navbar-left uk-flex-nowrap">
                    <a class="uk-navbar-toggle uk-visible@s" uk-navbar-toggle-icon href="#"></a>
                    <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li>
                                <a href="#about-modal" uk-toggle>
                                    <span uk-icon="icon: question; ratio: 1"></span> About
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: showLeaderboard">
                                    <span uk-icon="icon: world; ratio: 1"></span> Show leaderboard
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: toggleDetailedView">
                                    <span uk-icon="icon: bolt; ratio: 1"></span> <span data-bind="text: detailedView() ? 'Detailed view [On]' : 'Detailed view [Off]'">Detailed view [On]</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: toggleTimeFormat">
                                    <span uk-icon="icon: clock; ratio: 1"></span> <span data-bind="text: hoursMode() ? 'Time format [Hours]' : 'Time format [Full]'">Time format [Hours]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="{{ ''|path }}" class="uk-navbar-item uk-logo"><img src="{{ 'resources/public/assets/logo.svg'|resource }}"></a>
                </div>
                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="#"></a>
                    <div class="uk-navbar-dropdown uk-width-large" uk-dropdown="mode: click">
                        <ul class="uk-nav uk-navbar-dropdown-nav uk-width-large">
                            <li>
                                <ul class="uk-navbar-nav">
                                    <li class="uk-navbar-item uk-width-expand">
                                        <form class="uk-search uk-search-navbar uk-width-1-1" data-bind="submit: fetchAccounts">
                                            <input class="uk-search-input" type="search" data-bind="textInput: input" placeholder="Search..." autofocus>
                                        </form>
                                    </li>
                                    <li>
                                        <a class="uk-navbar-toggle" uk-icon="icon: plus-circle" data-bind="click: fetchAccounts, attr: { 'uk-icon': accounts().length > 0 ? 'icon: plus-circle' : 'icon: search' }" href="#"></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#about-modal" uk-toggle>
                                    <span uk-icon="icon: question; ratio: 1"></span> About
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: showLeaderboard">
                                    <span uk-icon="icon: world; ratio: 1"></span> Show leaderboard
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: toggleDetailedView">
                                    <span uk-icon="icon: bolt; ratio: 1"></span> <span data-bind="text: detailedView() ? 'Detailed view [On]' : 'Detailed view [Off]'">Detailed view [On]</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: toggleTimeFormat">
                                    <span uk-icon="icon: clock; ratio: 1"></span> <span data-bind="text: hoursMode() ? 'Time format [Hours]' : 'Time format [Full]'">Time format [Hours]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="uk-navbar-nav uk-visible@s">
                        <li class="uk-navbar-item">
                            <form class="uk-search uk-search-navbar uk-width-1-1" data-bind="submit: fetchAccounts">
                                <input class="uk-search-input" type="search" data-bind="textInput: input" placeholder="Search..." autofocus>
                            </form>
                        </li>
                        <li>
                            <a class="uk-navbar-toggle" uk-icon="icon: plus-circle" data-bind="click: fetchAccounts, attr: { 'uk-icon': accounts().length > 0 ? 'icon: plus-circle' : 'icon: search' }" href="#"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="uk-container uk-container-large">
            <div class="uk-child-width-1-1@s uk-child-width-1-3@m uk-margin-large-bottom" uk-grid id="grid">
                <div class="uk-grid-selector">
                    <div class="uk-cover-container">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Wasted on Destiny -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-6332373031553935"
                             data-ad-slot="7124654099"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
                <!-- ko foreach: accounts -->
                <!-- ko if: $data.constructor.name == "Leaderboard" -->
                <div class="uk-grid-selector" data-bind="fadeVisible: visible, css: { 'smallCard': !$root.detailedView() }">
                    <div class="uk-card uk-box-shadow-small">
                        <button type="button" uk-close class="uk-icon-button" data-bind="click: $root.removeAccount"></button>
                        <!-- ko ifnot: loading -->
                        <div class="uk-card-header uk-card-default leaderboard">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img width="50" height="50" src="{{ 'resources/public/assets/LeaderboardLogo.png'|resource }}">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">Leaderboard</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">Total players: <span data-bind="text: currentList().totalPlayers"></span></p>
                                </div>
                            </div>
                        </div>
                        <!-- ko ifnot: message -->
                        <!-- ko with: currentList -->
                        <div class="uk-card-body uk-card-default leaderboard">
                            <ul class="uk-flex-center uk-margin-remove-bottom" uk-tab>
                                <li class="uk-width-2-5" data-bind="css: { 'uk-active': gameVersion == 1 }, click: function() { $parent.select(1, 2) }">
                                    <a href="#">Destiny 1</a>
                                </li>
                                <li class="uk-width-3-5" data-bind="css: { 'uk-active': gameVersion == 2 }, click: function() { $parent.select(2, 2) }">
                                    <a href="#">Destiny 2</a>
                                </li>
                            </ul>
                            <ul class="uk-flex-center uk-tab-bottom uk-margin-remove-top" uk-tab>
                                <li class="uk-width-1-5" data-bind="css: { 'uk-active': platform == 2 && gameVersion == 1 }, click: function() { $parent.select(1, 2) }"><a href="#">PS4</a></li>
                                <li class="uk-width-1-5" data-bind="css: { 'uk-active': platform == 1 && gameVersion == 1 }, click: function() { $parent.select(1, 1) }"><a href="#">XB1</a></li>
                                <li class="uk-width-1-5" data-bind="css: { 'uk-active': platform == 2 && gameVersion == 2 }, click: function() { $parent.select(2, 2) }"><a href="#">PS4</a></li>
                                <li class="uk-width-1-5" data-bind="css: { 'uk-active': platform == 1 && gameVersion == 2 }, click: function() { $parent.select(2, 1) }"><a href="#">XB1</a></li>
                                <li class="uk-width-1-5" data-bind="css: { 'uk-active': platform == 4 && gameVersion == 2 }, click: function() { $parent.select(2, 4) }"><a href="#">Bnet</a></li>
                            </ul>
                            <!-- ko foreach: players -->
                            <a href="#" data-bind="click: function() { $root.fetchAccount(membershipType, membershipId) }" class="uk-grid-collapse uk-link-reset deletedChar" uk-grid>
                                <span data-bind="text: $index() + 1 + (($parent.page() - 1) * 10)" class="uk-width-1-6"></span>
                                <img src="" data-bind="attr: { src: iconPath }" class="uk-width-auto" style="height: 16px">
                                <div class="uk-width-expand" style="margin-left: 5px">
                                    <strong class="characterName" data-bind="text: displayName"></strong>
                                </div>
                                <span data-bind="formatTime: timePlayed" class="uk-width-auto"></span>
                            </a>
                            <!-- /ko -->
                            <ul class="uk-pagination">
                                <li><a href="#" data-bind="click: previous"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
                                <li class="uk-align-center uk-margin-remove-vertical">Page <span class="uk-display-inline" data-bind="text: page"></span></li>
                                <li><a href="#" data-bind="click: next">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                            </ul>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: message -->
                        <div class="uk-card-body uk-card-default">
                            <p class="uk-text-danger" data-bind="text: message"></p>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: currentList().loading -->
                        <div class="uk-position-cover uk-flex uk-loading">
                            <div class="uk-align-center uk-medium" uk-spinner></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: loading -->
                        <div class="uk-card-body uk-card-primary uk-flex">
                            <div class="uk-align-center" uk-spinner></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.constructor.name == "Account" -->
                <div class="uk-grid-selector" data-bind="fadeVisible: visible, css: { 'smallCard': !$root.detailedView() }">
                    <div class="uk-card uk-box-shadow-small">
                        <button type="button" uk-close class="uk-icon-button" data-bind="click: $root.removeAccount"></button>
                        <!-- ko ifnot: loading -->
                        <div class="uk-card-header uk-card-default" data-bind="css: { 'd1': gameVersion == 1, 'd2': gameVersion == 2 }">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img src="" width="50" height="50" data-bind="attr: { src: iconPath }">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom" data-bind="text: displayName"></h3>
                                    <strong class="uk-margin-remove-top" data-bind="text: gameVersion == 1 ? 'Destiny 1' : 'Destiny 2'"></strong>
                                    <p class="uk-margin-remove-top">Last played: <time data-bind="attr: { datetime: lastPlayed }, text: formattedLastPlayed"></time></p>
                                </div>
                            </div>
                        </div>
                        <!-- ko ifnot: message -->
                        <!-- ko if: gameVersion == 2 -->
                        <div class="uk-card-body uk-card-primary uk-padding-small"><p>Due to an issue introduced during last Friday's update, Bungie does not return the right times for Destiny 2. They are expecting to fix this issue by Monday.</p></div>
                        <!-- /ko -->
                        <div class="uk-card-body uk-card-default">
                            <!-- ko ifnot: $root.detailedView -->
                            <h3 class="uk-margin-remove-vertical">Played: <strong data-bind="formatTime: timePlayed"></strong></h3>
                            <h4 class="uk-margin-remove-vertical">Wasted: <em data-bind="formatTime: timeWasted"></em></h4>
                            <!-- /ko -->
                            <!-- ko if: $root.detailedView -->
                            <div class="pop-top">
                                <!-- ko if: bungieNetMembershipId -->
                                <a href="#" class="bungieAccountPill" data-bind="click: function() { $root.fetchAccount(-1, bungieNetMembershipId()) }">
                                    <img src="{{ 'resources/public/assets/BungieLogo.png'|resource }}"><span data-bind="text: bungieNetDisplayName"></span>
                                </a>
                                <!-- /ko -->
                                <h3 class="uk-margin-remove-vertical">Played: <strong data-bind="formatTime: timePlayed"></strong></h3>
                                <h4 class="uk-margin-remove-vertical">Wasted: <em data-bind="formatTime: timeWasted"></em></h4>
                            </div>
                            <!-- ko foreach: characters -->
                            <!-- ko ifnot: deleted -->
                            <div class="uk-grid-collapse emblem" uk-grid>
                                <img src="" data-bind="attr: { src: 'https://www.bungie.net' + emblemPath }" class="uk-width-auto emblemIcon">
                                <div class="uk-width-expand">
                                    <strong class="characterName" data-bind="text: race + ' ' + charClass"></strong>
                                    <span class="timePlayed" data-bind="formatTime: timePlayed"></span>
                                    {#<small class="topRank" data-bind="text: 'Top 5%'"></small>#}
                                </div>
                                <div class="uk-width-auto infoRight">
                                    <i class="powerLevel" data-bind="text: level, css: { 'd1': $parent.gameVersion == 1, 'd2': $parent.gameVersion == 2 }"></i>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: deleted -->
                            <div class="uk-grid-collapse emblem" uk-grid>
                                <span uk-icon="icon: trash; ratio: 2" class="uk-width-auto emblemIcon"></span>
                                <div class="uk-width-expand">
                                    <strong class="characterName">Deleted</strong>
                                    <span class="timeWasted" data-bind="formatTime: timePlayed"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if: message -->
                        <div class="uk-card-body uk-card-default">
                            <p class="uk-text-danger" data-bind="text: message"></p>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: loading -->
                        <div class="uk-card-body uk-card-primary uk-flex">
                            <div class="uk-align-center" uk-spinner></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div class="uk-container uk-container-large uk-margin-small-bottom">
            <span>Made with <i uk-icon="icon: heart"></i> by <a href="#" data-bind="click: function() { fetchAccount(-1, 664856) }">{{ config('application', 'author') }}</a></span>
            <span> | </span>
            <a href="#about-modal" uk-toggle>About</a>
        </div>

        <div class="uk-clearfix"></div>
    </div>

    <div id="about-modal" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            {% include 'aboutContent.twig' %}
        </div>
    </div>

    <div data-bind="visible: loading" class="uk-loading uk-flex uk-position-fixed">
        <div class="uk-align-center uk-large" uk-spinner></div>
    </div>

    <script src="{{ 'bower_components/jquery/dist/jquery.js'|resource }}"></script>
    <script src="{{ 'bower_components/uikit/dist/js/uikit.js'|resource }}"></script>
    <script src="{{ 'bower_components/uikit/dist/js/uikit-icons.js'|resource }}"></script>
    <script src="{{ 'bower_components/requirejs/require.js'|resource }}" data-main="{{ 'resources/public/scripts/application.js'|resource }}"></script>
    <script>
        requirejs.config({
            baseUrl: '/resources/public/scripts',
            paths: {
                text: '/bower_components/requirejs-plugins/lib/text',
                async: '/bower_components/requirejs-plugins/src/async',
                font: '/bower_components/requirejs-plugins/src/font',
                goog: '/bower_components/requirejs-plugins/src/goog',
                image: '/bower_components/requirejs-plugins/src/image',
                json: '/bower_components/requirejs-plugins/src/json',
                noext: '/bower_components/requirejs-plugins/src/noext',
                mdown: '/bower_components/requirejs-plugins/src/mdown',
                propertyParser : '/bower_components/requirejs-plugins/src/propertyParser',
                markdownConverter : '/bower_components/requirejs-plugins/lib/Markdown.Converter',
                jquery: '/bower_components/jquery/dist/jquery',
                uikit: '/bower_components/uikit/dist/js/uikit',
                'uikit-icons': '/bower_components/uikit/dist/js/uikit-icons',
                knockout: '/bower_components/knockout/dist/knockout',
                masonry: '/bower_components/masonry/dist/masonry.pkgd'
            }
        });

        require([
            'knockout',
            'application',
            'jquery',
            'uikit',
            'ko.formatTime',
            'ko.fadevisible'
        ], function(ko, Application) {
            ko.applyBindings(new Application('{{ search|default() }}'));
        });
    </script>
</body>
</html>
